# 22nd March Assignment

Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [1]:
import pandas as pd

df = pd.DataFrame({
                 'Time_Spend' : [5,7,3,8,12,15,6],
                   'Score':[399,420,330,490,579,588,521]
                 })

In [2]:
df.corr(method='pearson')

            Time_Spend     Score
Time_Spend    1.000000  0.881668
Score         0.881668  1.000000

Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.

In [7]:
import pandas as pd

df=pd.DataFrame({'amount_of_sleep':[9,12,6,10,13],'satisfaction_lvl':[8,5,10,6,3]})
df.corr(method='spearman')

                  amount_of_sleep  satisfaction_lvl
amount_of_sleep               1.0              -1.0
satisfaction_lvl             -1.0               1.0

Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.

In [24]:
import random
import pandas as pd

people=50
exercise_hours=[random.randint(1,15) for _ in range(people)]
bmi=[random.uniform(15,35) for _ in range(people)]

df = pd.DataFrame({'Exercise_hours': exercise_hours , 'BMI':bmi})
df.corr()

                Exercise_hours       BMI
Exercise_hours        1.000000  0.184203
BMI                   0.184203  1.000000

In [25]:
df.corr(method='spearman')

                Exercise_hours       BMI
Exercise_hours        1.000000  0.177158
BMI                   0.177158  1.000000

Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.

In [26]:
import random
import pandas as pd

participants=50
watch_time = [random.randint(1,8)for _ in range(participants)]
pysic=[random.randint(0,10) for _ in range(participants)]

df = pd.DataFrame({'watch_time':watch_time,'pysic':pysic})

df.corr()

            watch_time     pysic
watch_time    1.000000 -0.227123
pysic        -0.227123  1.000000

Q5. A survey was conducted to examine the relationship between age and preference for a particular
brand of soft drink. The survey results are shown below:

In [27]:
import pandas as pd

df = pd.DataFrame({'Age':[25,42,37,19,31,28],'Sof_drink_preference':['Coke','Pepsi','Mountain_Dew','Coke','Pepsi','Coke']})

In [33]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

encoded=encoder.fit_transform(df[['Sof_drink_preference']])
df1=pd.DataFrame({'Encoded_Preference':encoded})
final_df=pd.concat([df,df1],axis=1)
final_df

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   Age Sof_drink_preference  Encoded_Preference
0   25                 Coke                   0
1   42                Pepsi                   2
2   37         Mountain_Dew                   1
3   19                 Coke                   0
4   31                Pepsi                   2
5   28                 Coke                   0

In [34]:
final_df.cov()

/tmp/ipykernel_77/2790656087.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  final_df.cov()

                          Age  Encoded_Preference
Age                 68.666667            6.266667
Encoded_Preference   6.266667            0.966667

Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [35]:
import random
import pandas as pd

representative=30

calls_per_day = [random.randint(1,200) for _ in range(representative)]
sales_per_week = [random.randint(1,150) for _ in range(representative)]

df=pd.DataFrame({'calls_per_day':calls_per_day,'sales_per_week':sales_per_week})

    calls_per_day  sales_per_week
0              19              59
1              16             148
2              43               6
3              79              69
4             153             148
5             192              11
6             146              45
7              74             121
8             113             133
9              32             114
10            120              72
11            177              47
12             78             150
13            180             112
14            104             126
15             70              24
16            129             121
17            139              90
18            127             105
19            113              86
20             21              83
21            154              27
22             11              42
23            111              85
24            189             106
25             83             127
26            155              74
27             65             103
28              7             141
29             24              10